:root{
    --button-size: 6.25rem;
    --like-button-bg: hsl(120, 50%, 70%);
    --dislike-button-bg: hsl(0, 50%, 70%);
}

.buttons{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    bottom: 7.75rem;
}

.buttons .button .icon{
    font-size: var(--button-size);
    color: white;
    border-radius: 50%;
    cursor: pointer;
}

.buttons .button #like .icon{
    background: var(--like-button-bg);
}

.buttons .button #dislike .icon{
    background: var(--dislike-button-bg);
}