.content{
    padding: 0 !important;
}

.content .heading{
    text-align: center;
    margin: 1.5rem 0;
    font-size: var(--fs-1);
    font-weight: var(--fw-bolder);
}

.content #no-chats{
    padding: 8.25rem 0;
    text-align: center;
}

.content #no-chats img{
    margin: 5.5rem auto;
    width: 70%;
}

.container .profile{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #f3f4f6;
}

.container .profile .profile__image-div{
    margin: 1rem;
    min-width: 5rem;
    max-width: 5rem;
    min-height: 5rem;
    max-height: 5rem;
}

.container .profile .profile__image{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.container .profile .profile__info{
    padding-right: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 7rem - 1rem); /* width = 100% - "total width of .profile__image" - "padding-right of .profile__msg" */
}

.container .profile .profile__info .profile__msg{
    font-size: var(--fs-button) !important;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.container .profile .profile__info .profile__msg-timestamp{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    margin-bottom: 0;
    font-size: var(--fs-caption) !important;
}

#chats{
    margin-bottom: 21rem;
}
