.content img{
    margin: 6.5rem auto;
    width: 70%;
}

.content .heading{
    margin: 2.5rem auto;
    text-align: center;
}

.content #no-likes{
    padding: 8.15rem 0;
    text-align: center;
}

.heading{
    margin: 1.5rem 0;
    font-size: var(--fs-1);
    font-weight: var(--fw-bolder);
}

.text{
    font-size: var(--fs-6);
    font-weight: var(--fw-normal);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .profile{
    position: relative;
    margin: 0.5em;
    width: 47.372%;
    height: 26rem;
    background-color: var(--gray);
    border-radius: 1rem;
}

.container .profile .profile__image{
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.container .profile .profile__info{
    padding: 0.5rem 0;
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    color: var(--white);
    backdrop-filter: brightness(75%);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit; 
}

.container .profile .profile__info > p{
    margin-left: 1rem;
}