:root{
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0px 10px -1px rgba(0,0,0,.5);
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 100%;
    background: var(--layer-bg);
    color: var(--layer-cl);
    z-index: 1000;
}

.navbar a{
    margin: auto;
    text-decoration: none;
    color: unset;
}

.navbar__top{
    position: sticky;
    height: 3.5rem;
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.navbar__top .title{
    font-size: 2rem;
}

.navbar__bottom{
    position: fixed;
    height: 4rem;
    bottom: 0;
    border-radius: 1.5rem 1.5rem 0 0;
}

.navbar__bottom .icon{
    padding: 0.8rem;
    margin: auto;
    cursor: pointer;
}

.navbar__dummy{
    position: fixed;
    bottom: 0;
    height: 6rem;
    width: 100%;
}
