.heading{
    margin: 1.5rem 0;
}

.content{
    padding: 0 3.5rem;
}

.content #top{
    margin: 2.5rem auto;
    display: flex;
}

.content #top p{
    letter-spacing: 0.1rem;
    text-align: center;
    
}

.content .form .field{
    margin-top: 2rem;
}

.content .form .field div{
    position: relative;
}

.content .form .field div .password-icon{
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.content .form .field div .password-icon.invisible{
    display: none;
}

.content .form .input_bar{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    padding-right: 4.4rem;
    border-radius: 1rem;
    font-size: var(--fs-button);
    line-height: 2.4rem;
    border: 0;
    outline: 0;
    background: #f3f4f6;
    box-shadow: var(--boxshadow);
}

.content .form .button#signup{
    margin: 3.25rem 0;
    padding: 1.5rem;
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    text-align: center;
    color: var(--layer-cl);
    border-radius: 1rem;
    background: var(--layer-bg);
}

.content .form #login{
    display: flex;
    justify-content: center;
}

.content .form #login p{
    font-size: var(--fs-button) !important;
}

.content .form #login a{
    margin-left: 0.5rem;
    color: var(--gray);
    font-size: var(--fs-button) !important;
}