*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar{
    display: none;
}

*:focus{
    -webkit-tap-highlight-color: transparent;
}

:root{
    --primary-bg: hsl(298, 0%, 100%);
    --secondary-bg: hsl(298, 75%, 90%);

    --primary-cl: hsl(290, 25%, 25%);
    --secondary-cl: hsl(327, 100%, 61%);

    --layer-bg: hsl(298, 75%, 90%);
    --layer-cl: hsl(345, 95%, 71%); /* #fb6f92 */

    --border: hsl(329, 25%, 25%);
    --boxshadow-bottom: 0 2px 0 -1px rgb(0 0 0 / 10%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --gray: hsl(0, 0%, 60%);
    --text-link-cl: #106bd5;
    --pri-text-cl: #21262e;
    --sec-text-cl: #505050;

    --fs-1: 3rem; /* 30px */
    --fs-2: calc(var(--fs-1) - 0.2rem); /* 28px */
    --fs-3: calc(var(--fs-2) - 0.2rem); /* 26px */
    --fs-4: calc(var(--fs-3) - 0.2rem); /* 24px */
    --fs-5: calc(var(--fs-4) - 0.2rem); /* 22px */
    --fs-6: calc(var(--fs-5) - 0.2rem); /* 20px */
    --fs-small: 1.8rem; /* 18px */
    --fs-button: 1.5rem; /* 15px */
    --fs-caption: 1.2rem; /* 12px */

    --fw-bolder: 900;
    --fw-bold: calc(var(--fw-bolder) - 200); /* 700 */
    --fw-normal: calc(var(--fw-bold) - 300); /* 400 */
    --fw-light: calc(var(--fw-normal) - 100); /* 300 */
    --fw-lighter: calc(var(--fw-light) - 100); /* 200 */
}

html{
    font-size: 10px;
}

.content{
    padding: 0.5rem;
    top: 6em;
    bottom: 6rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: var(--white);
    overflow-y: scroll;
    width: -webkit-fill-available;
}

a{
    text-decoration: none;
    color: unset;
}

.prevent-select{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.disabled{
    pointer-events: none;
}

.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}

.material-symbols-filled{
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}

.heading{
    font-size: var(--fs-1) !important;
    font-weight: var(--fw-bolder) !important;
    color: #21262e;
    line-height: 1.2 !important;
}

.sub-heading{
    font-size: var(--fs-3) !important;
    font-weight: var(--fw-bolder) !important;
    color: #21262e;
    line-height: 1.25 !important;
}

.title{
    font-size: var(--fs-small) !important;
    font-weight: var(--fw-bold) !important;
    line-height: 1.5 !important;
    vertical-align: baseline !important;
}

.text{
    font-size: var(--fs-small) !important;
    font-weight: var(--fw-normal) !important;
    line-height: 1.5 !important;
    vertical-align: baseline !important;
}

.pri-text{
    color: var(--pri-text-cl) !important;
}

.sec-text{
    color: var(--sec-text-cl) !important;
}

.link{
    color: var(--text-link-cl) !important;
    text-decoration: underline !important;
}

.material-icons{
    min-width: 1.8rem !important;
    visibility: hidden;
}
