*{
    margin: 0;
    padding: 0;
}

html, body{
    position: relative;
    height: 100%;
}

body{
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.swiper{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill; /* for desktop */
    object-fit: contain; /* for mobile */
}

.swiper-wrapper{
    /* height: unset !important; */
    height: 100vh !important;
}

.swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right{
    background-image: none !important;
}
