{% from "macros/loader.html" import loader %}
{% from "macros/nav.html" import navbar_top, navbar_bottom %}
{% from "macros/head.html" import common %}
{% from "macros/credentials.html" import page_1, page_2, page_3, page_4, page_5, page_6, page_7 %}

<html>
<head>
    <title>Credentials - {{ page_num }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/credentials.css') }}">
    
    {{ common() }}
</head>

<body class="prevent-select">
    {{ navbar_top() }}

    {{ loader() }}

    <div class="content">
        {% block content %}
            {% if page_num == '1' %}
                {{ page_1() }}
            {% elif page_num == '2' %}
                {{ page_2() }}
            {% elif page_num == '3' %}
                {{ page_3() }}
            {% elif page_num == '4' %}
                {{ page_4() }}
            {% elif page_num == '5' %}
                {{ page_5() }}
            {% elif page_num == '6' %}
                {{ page_6() }}
            {% elif page_num == '7' %}
                {{ page_7() }}
            {% endif %}
        {% endblock content %}
    </div>
    
    {{ navbar_bottom(nav_data) }}
</body>
</html>