{% from "macros/loader.html" import loader %}
{% from "macros/nav.html" import navbar_top, navbar_bottom %}
{% from "macros/head.html" import common %}

<html>
<head>
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/signup.css') }}">
    
    {{ common() }}
</head>

<body class="prevent-select">
    {{ navbar_top() }}

    {{ loader() }}

    <div class="content">
        <div id="top">
            <p class="heading pri-text">
                It is never too late<br>
                to fall in love
            </p>
        </div>

        <form class="form" id="signupForm" method="POST" action="{{ url_for('auth.signup') }}">
            <div>
                {{ form.csrf_token }}

                <input type="hidden" name="next" value="{{ request.args.get('next', '') }}" />
            </div>

            <div class="field">
                <label class="title sec-text" for="email">Enter your Email ID</label>
                <input type="email" id="email" class="input_bar" name="email" onkeyup="validateEmail()">
                <span class="error" id="error_email"></span>
            </div>

            <div class="field">
                <label class="title sec-text" for="password">Enter your password</label>

                <div>
                    <input type="password" class="input_bar password" name="password" id="password_1" onkeyup="validatePasswords()">
                    <i class="icon password-icon material-icons material-symbols-outlined">visibility</i>
                    <i class="icon password-icon invisible material-icons material-symbols-outlined">visibility_off</i>
                </div>

                <span class="error" id="error_password"></span>
            </div>

            <div class="field">
                <label class="title sec-text" for="confirm_password">Enter your password again</label>
                
                <div>
                    <input type="password" class="input_bar password" name="password" id="password_2" onkeyup="validatePasswords()">
                    <i class="icon password-icon material-icons material-symbols-outlined">visibility</i>
                    <i class="icon password-icon invisible material-icons material-symbols-outlined">visibility_off</i>
                </div>

                <span class="error" id="error_password"></span>
            </div>

            <button class="button" id="signup" type="submit" onclick="return validateSignupForm()">Signup</button>

            <div id="login">
                <p class="text sec-text">Already have an account?</p>
                <a class="title" href="{{ url_for('auth.login') }}">Log in</a>
            </div>
        </form>
    </div>
    
    {{ navbar_bottom(nav_data) }}

    <!-- LINK JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/auth/signup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/validate.js') }}"></script>

    <!-- Handle Password visibility -->
    <script>
        $("body").on('click', '.password-icon', function(){
            var input = $(".password");

            if (input.attr("type") == "password"){
                input.attr("type", "text");
                $('.password-icon').css('display', 'none');
                $('.password-icon.invisible').css('display', 'block');
            }
            else{
                input.attr("type", "password");
                $('.password-icon').css('display', 'block');
                $('.password-icon.invisible').css('display', 'none');
            }
        });
    </script>
</body>
</html>