.content{
    padding: 0 3.5rem;
}

.content .form{
    height: -webkit-fill-available;
}

.content .form .field{
    margin-top: 2rem;
}

.content .form .field .sub-heading{
    text-align: center;
}

.content .form .field div{
    position: relative;
}

.content .form .field div .password-icon{
    position: absolute;
    top: 2rem;
    right: 1rem;
    color: var(--gray);
}

.content .form .field div .password-icon.invisible{
    display: none;
}

.content .form .input_bar{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    padding-right: 4.4rem;
    border-radius: 1rem;
    font-size: var(--fs-button);
    line-height: 2.4rem;
    border: 0;
    outline: 0;
    background: #f3f4f6;
    box-shadow: var(--boxshadow);
}

.content .form .buttons{
    margin: 2rem 0;
    display: flex;
    justify-content: end;
}

.content .form .button{
    padding: 1rem 2rem;
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    text-align: center;
    height: 2rem;
    background: green;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
}


/* ----------------------------------------- Radio buttons ------------------------------------------- */
.container {
    margin: 1rem 4rem 1rem 0;
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: var(--fs-small);
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.2rem;
    width: 2.2rem;
    background-color: #f3f4f6;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a background */
.container input:checked ~ .checkmark {
    background-color: var(--layer-cl);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


/* ----------------------------------------- Select button ------------------------------------------- */
.select__wrapper{
    margin-top: 0.5rem;
    width: fit-content;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: var(--boxshadow);
    background: url(../assets/arrow_drop_down.svg) 100% / 3rem no-repeat #f3f4f6;
}

.select__wrapper select{
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3.4rem;
    min-width: 12rem;
    width: fit-content;
    font-size: var(--fs-button);
    border: 0;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select__wrapper select::-ms-expand{
    display: none;
}

label[for="feet"], label[for="inch"]{
    background: var(--white);
    font-size: var(--fs-small);
    color: var(--sec-text-cl);
}


/* ----------------------------------------- Chips buttons ------------------------------------------- */
.card-chips{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.card-chip{
    margin: 0 1rem 1rem 0;
    padding: 0.5rem 1rem;
    width: max-content;
    font-size: var(--fs-button);
    font-weight: 500;
    color: var(--pri-text-cl);
    border-radius: 1.5rem;
    border: 0.1rem solid var(--border);
}

.card-chip.active{
    border-color: var(--layer-cl);
    border-width: 0.2rem;
}
