.content{
    padding: 0 3.5rem;
}

.content .form .field{
    margin-top: 2rem;
}

.content .form .field div{
    position: relative;
}

.content .form .field div .password-icon{
    position: absolute;
    top: 2rem;
    right: 1rem;
    color: var(--gray);
}

.content .form .field div .password-icon.invisible{
    display: none;
}

.content .form .input_bar{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    padding-right: 4.4rem;
    border-radius: 1rem;
    font-size: var(--fs-button);
    line-height: 2.4rem;
    border: 0;
    outline: 0;
    background: #f3f4f6;
    box-shadow: var(--boxshadow);
}

.content .form .buttons{
    display: flex;
    justify-content: space-between;
}

.content .form .button{
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    text-align: center;
    border: 1px solid green;
    color: green;
    border-radius: 1rem;
    cursor: pointer;
}

.content .form #next{
    background: green;
    color: white;
}
