.heading{
    margin: 1.5rem 0;
}

.content{
    padding: 0 3.5rem;
}

.content #top{
    margin: 3rem auto;
}

.content #top img{
    width: 100%;
}

.content #top p{
    margin: 5rem auto 0 auto;
    text-align: center;
    letter-spacing: 0.1rem;
}

.content .form .field{
    margin-top: 2rem;
}

.content .form .field div{
    position: relative;
}

.content .form .input_bar{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 1rem;
    font-size: var(--fs-button);
    line-height: 2.4rem;
    border: 0;
    outline: 0;
    background: #f3f4f6;
    box-shadow: var(--boxshadow);
}

.content .form .button#login{
    margin: 2.5rem 0;
    padding: 1.5rem;
    font-size: var(--fs-button);
    font-weight: var(--fw-bold);
    text-align: center;
    color: var(--layer-cl);
    width: -webkit-fill-available;
    border-radius: 1rem;
    background: var(--layer-bg);
}

.content #signup{
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--gray);
}

.content #signup p{
    font-size: var(--fs-3) !important;
}

.content #signup a{
    font-size: var(--fs-button) !important;
}

.content .form .field input.error{
    color: initial;
    font-size: var(--fs-button);
    border: 1px solid red;
}

.content .form .field .error{
    color: red;
    font-size: var(--fs-button);
}