.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    height: 4rem;
    width: 100%;
    background: var(--layer-bg);
    z-index: 1000;
}

.navbar a{
    margin: auto;
    text-decoration: none;
    color: unset;
}

.navbar__top{
    position: sticky;
    height:3.5rem;
}

.navbar__bottom{
    position: fixed;
    bottom: 0;
    border-radius: 1.5rem 1.5rem 0 0;
}

.navbar__bottom .icon{
    color: var(--layer-cl-1);
    padding: 0.8rem;
    margin: auto;
    cursor: pointer;
}

.navbar__dummy{
    height: 4rem;
}
