.navbar{
    background: var(--layer-bg);
    position: fixed;
    bottom: 0;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    height: 4.4rem;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0;
    z-index: 1000;
}

.navbar .icon{
    color: var(--layer-cl-1);
    padding: 1rem;
    margin: auto;
    cursor: pointer;
}

.navbar a{
    margin: auto;
    text-decoration: none;
    color: unset;
}

.dummy{
    height: 4.4rem;
}
