*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary-bg: hsl(298, 0%, 100%);   /*#fbe8fc*/
    --secondary-bg: hsl(298, 75%, 90%);  /*#f7d1f8*/

    --primary-cl: hsl(290, 25%, 25%);    /*#48304d*/
    --secondary-cl: hsl(327, 100%, 61%); /*#ff37a6*/

    --layer-bg: hsl(298, 75%, 90%);      /*#f7d1f8*/
    --layer-cl-1: hsl(345, 95%, 71%);    /*#fb6f92*/

    --border: hsl(3290, 25%, 25%);   /*#48304d*/
    --boxshadow-bottom: 0 2px 0px -1px rgb(0 0 0 / 10%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 60%);
}

html{
    font-size: 10px;
}

body{
    background: var(--primary-bg);
}

.content{
    padding: 20px;
}

a{
    text-decoration: none;
    color: unset;
}

.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}

.material-symbols-filled{
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40
}
